// Define variables for your color scheme
body {
    color: gray;
}
// For example:
// DEFAULT
$white: white;
$red: #FD1015;
$yellow: yellow;
$orange: #E67E22;
$green: #1EDD88;
$gray: gray;
$light-gray: #F4F4F4;

body {
    background: white !important;
}

.grey {
    color: gray;
}