// Define variables for your color scheme
body {
    color: white;
}
// For example:
$white: white;
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$black: black;


