// Define variables for your color scheme
body {
    color: white;
}
// For example:
// DEFAULT
$white: white;
$red: #FD1015;
$yellow: yellow;
$orange: #E67E22;
$green: #1EDD88;
$gray: gray;
$light-gray: #F4F4F4;
$black: black;

// NEON
$light-blue: #5D6AFB;
$blue: #333CC7;
$green: #94F4A2;
