<%= render 'shared/navbar' %>

<div class="banner">
    <h1><span>Miss</span><br>Cocktail</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    <div class="d-flex">
        <a class="btn purple" href="#cocktails">Cocktails</a>
        <a class="btn transparent new-cocktail-btn" href="#">Add a new cocktail</a>
    </div>
</div>

<div class="grid-container" id="cocktails">
    <div class="card-columns">
        <%  @cocktails.shuffle.each do |cocktail|  %>
            <a href="<%= cocktail_path(cocktail)%>">
                <div class="photo">
                    <%= cl_image_tag cocktail.photo.key, width: 270, crop: :fill unless cocktail.nil? %>
                    <div class="overlay">
                        <h5 class="title"><%= cocktail.name %></h5>
                        <p> This content is a little bit longer.</p>
                    </div>
                </div>
            </a>
        <% end %>
    </div>
</div>

