<%= render 'shared/navbar' %>

<div class="banner d-flex align-items-center">
    <h1>MR. COCKTAIL</h1>
</div>

<div class="grid-container" id="cocktails">
    <div class="card-columns">
        <%  @cocktails.shuffle.each do |cocktail|  %>
            <a href="<%= cocktail_path(cocktail)%>">
                <div class="photo">
                    <%= cl_image_tag cocktail.photo.key, width: 270, crop: :fill unless cocktail.nil? %>
                    <div class="overlay">
                        <h5 class="title"><%= cocktail.name %></h5>
                        <p> This content is a little bit longer.</p>
                    </div>
                </div>
            </a>
        <% end %>
    </div>
</div>

