<div class="banner">
  <div class="container d-flex justify-content-around">
    <img src="https://res.cloudinary.com/maiteeguren/image/upload/v1599200707/xtiioccrqcgt44djo4qr.png">
  </div>
</div>

<% @cocktails.each do |cocktail| %>
<p style="color:white"><%= cocktail.photo.key %></p>
<% end %>
