<div class="">
    <h3>Search results</h3>

    <%  @cocktails.each do |cocktail|  %>
        <a href="<%= cocktail_path(cocktail)%>">
            <div class="photo">
                <%= cl_image_tag cocktail.photo.key, width: 270, crop: :fill unless cocktail.nil? %>
            </div>
            <h5 class="title"><%= cocktail.name %></h5>
            <p> This content is a little bit longer.</p>
        </a>
    <% end %>
</div>