// Specific CSS for your home-page
body {
    color: $white;
    font-family: $body-font;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5 {
    color: $white;
}

.parallax {
  /* The image used */
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('https://res.cloudinary.com/maiteeguren/image/upload/v1609814391/poolside-outdoor-barware-product-photography_irux07.jpg');

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  //background-position: center;
  background-repeat: no-repeat;
  //background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-transform: translateZ(-1px) scale(1.1);
  transform: translateZ(-1px) scale(1.1);
}