// Specific CSS for your home-page
body {
    // background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://miro.medium.com/max/700/0*-DOy7WwQ9kaHHqKn'); 
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-size: 100vw;
    // background-position: center;
    color: $white;
    background-color: $black;
    font-family: $body-font;
}

h1, h2, h3, h4, h5 {
    color: $white;
    font-family: $headers-font;
    text-transform: uppercase;
    // letter-spacing: 0.35em;
}