<div class="w-33">
    <div class="mobile-menu">
        <img src="https://res.cloudinary.com/maiteeguren/image/upload/v1608715767/345387-200_otkuq5.png" width="50px" id="menu-icon">
        <img src="https://res.cloudinary.com/maiteeguren/image/upload/v1608715767/img_216627_wyjfkh.png" width="30px" class="hidden" id="exit-icon">
    </div>
    <ul class="menu hide-menu">
        <li><a class="nav-item" href="#">About</a></li>
        <li><a class="nav-item" href="#cocktails">Cocktails</a></li>
        <li><a class="nav-item" href="#">Resume</a></li>
        <li><a class="nav-item" href="#">Contact</a></li>
    </ul>
</div>
<div class="w-33 text-center">
    <a href="<%= cocktails_path %>"><h1>Miss Cocktail</h1></a> 
</div>
<div class="w-33">
    <ul class="menu hide-menu justify-content-end">
        <li><a class="nav-item" href="#">Search</a></li>
        <% if current_page?(root_path) %>
            <li><a class="nav-item new-cocktail-btn" href="#">New Cocktail</a></li>
        <% end %>
        <li><a class="nav-item log-in" href="#">Log in</a></li>
    </ul>
</div>
