<nav class="fixed-top">
    <ul>
        <li><a href="<%= new_cocktail_path %>"><i class="fas fa-cocktail"></i></a></li>
        <li><a href="<%= cocktails_path %>"><h4>Mr Cocktail</h4></a></li>
        <li><a href="#"><i class="fas fa-search"></i></a></li>
    </ul>
</nav>