<nav class="fixed-top">
    <ul>
        <li><a href="<%= new_cocktail_path %>" class="hoverable"><i class="fas fa-cocktail"></i> <span class="nav-text hidden">Add a new cocktail</span></a></li>
        <li><a href="<%= cocktails_path %>"><h4>Mr Cocktail</h4></a></li>
        <li><a href="#" class="hoverable"><span class="nav-text hidden">Click to search</span> <i class="fas fa-search"></i></a></li>
    </ul>
</nav>