<nav class="fixed-top">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#cocktails">Cocktails</a></li>
        <li><a href="#contact">Contact</a></li>
        <li class="add-new"><a href="<%= new_cocktail_path %>">Add cocktail</a></li>
    </ul>
</nav>