<div id="new-cocktail-modal">
    <div class="new-cocktail">
            <img src="https://res.cloudinary.com/maiteeguren/image/upload/v1608715767/img_216627_wyjfkh.png" class="close-modal">
        <div>
            <h2>New cocktail</h2>
        </div>
        <div class="new-cocktail-form">
            <%= simple_form_for(@cocktail) do |f| %>
                <div>
                    <%= f.input :name, label_html: { class:"btn m-0" }  %>
                    <label class="btn">
                    Add a photo
                    <span style="display:none;">
                        <%= f.input :photo, as: :file %>
                    </span>
                    </label>
                </div>
                <%= f.button :submit, class: 'mx-auto btn btn-grey' %>
            <% end %>
        </div>
    </div>
</div>