.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/maiteeguren/image/upload/v1601353852/cocktails-at-a-bar-DCMYLFC_kiogc5.jpg'); 
  background-size: cover;
  width: 100vw;
  padding: 30px;
  min-height: 80vh;
  // filter: grayscale(1);

  /* parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  height: 248px;
  margin: 0 auto;
}  

.off {
  opacity: 0.3;
}

h1 {
  margin: 0 auto;
  background-color: black;
  height: 350px;
  padding: 30px;
  line-height: 290px;
  opacity: 0.8;
  border-radius: 50%;
}

