.banner {
  background-size: cover;
  background-position: center;
  width: 100vw;
  padding: 30px;
  height: 100vh;
}

.logo {
  height: 248px;
  margin: 0 auto;
}  
//onload
.off {
  opacity: 0.3;
}
