h2 {
  //font-size: 5px;
  //max-width: 40%;
  line-height: 1.5;
  font-weight: 300;
}

.carousel-inner img {
  height: 100vh;
  object-fit: cover;
  //object-position: bottom; 
}

.ingredients-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 150vh;
}

.ingredients-section .text-box {
  background:#FAF4EB;
  color: $primary;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 400px;
}

.ingredients-section .text-box .value-card {
  padding: 20px 0;
  min-width: 270px;
  max-width: 350px;
}
.ingredients-section h2 {
  margin-bottom: 30px;
  min-width: 270px;
  max-width: 350px;
}

.ingredients-section h3 {
  font-size: 20px;
  margin-bottom:12px;
}
.ingredients-section h2,
.ingredients-section h3 {
  color: $primary;
  font-weight: 300;
}

.ingredients-section .lemon-slice {
  position:absolute;
  top: -20px;
  width: 250px;
  filter: brightness(1.2);
  right: 40%;
}

.ingredients-section .rosemary {
  position:absolute;
  width: 200px;
  bottom: 100px;
  right: 100px;
  filter: brightness(0.9);
}

.ingredients-section .ingredients-img {
  position: relative;
  z-index: -1;
}

.image-shadow {
  box-shadow: inset 30px 0 30px #FAF4EB;
  background: transparent;
}

// ---- RESPONSIVE -----

@media (max-width: 991px) { 
  .ingredients-section {
    flex-direction: column;
    height: auto;
  }

  .ingredients-section .text-box {
    padding: 80px 40px 0 40px;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ingredients-section .ingredients-img {
    width: 100vw;
    object-fit: cover;
  }

  .image-shadow {
    box-shadow: inset 0px 20px 25px #FAF4EB;
  }

  .value-card {
    text-align: center;
    padding:0;
  }

  .value-card, .ingredients-section h2 {
    max-width:80% !important;
  }

  .ingredients-section .lemon-slice {
    right: 0;
  }
}

@media (max-width: 600px) {
  .ingredients-section .lemon-slice {
    width: 200px;
  }
  .ingredients-section .rosemary {
    width: 150px;
    bottom: 50px;
    right: 50px;
  }
}

@media (max-width: 500px) {
  .ingredients-section .lemon-slice,
  .ingredients-section .rosemary {
    display: none;
  }

  .value-card, .ingredients-section h2 {
    max-width: 100%;
  }
}