.cocktail-card {
    color: white;
    display: flex;
    margin: 30px auto;
    width: 60vw;
    background-color: #252526;
}

.cocktail-image {
    object-fit: cover;
}

.cocktail-info {
    margin: 0 auto;
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.cocktail-card form {
    color: white;
}

.form-inputs .form-control {
    background-color: #252526;
    border-radius: 15px;
    border-color: gray;
}

.btn {
    border-radius: 30px;
    border-color: gray;
    color: white;
    padding: 5px 15px;
    display: flex;
    margin: 50px auto;
}

.back-button {
  margin: 0px;
  padding-left: 15px;
  color: white;
  font-size: 25px;
  display: block;
  position: absolute;
  right: 20px;
  top: 10px;
  opacity: 0.5;
}

.subtitle {
    text-transform: uppercase;
    color: $yellow;
    border-bottom: 1px solid $yellow;
    letter-spacing: 1px;
    font-size: 15px;
}