.show-container {
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    position: relative;
}

.cocktail-card {
    margin: 120px 0;
    color: $primary;
    max-width: 1140px;
    display: flex;
    box-shadow: 2px 2px 10px 4px rgba(0,0,0,0.1);
    background: white;
}

.cocktail-image {
    object-fit: cover;
    width: 50%;
    //height: 100%;
}

.cocktail-info {
    width: 50%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    h2 {
        text-transform: uppercase;
        border-bottom: 1px solid lightgrey;
        color: $primary;
        width: 100%;
        margin-bottom: 20px;
        font-size: 25px;
        text-align: center;
    }

}

.cocktail-info ul {
    padding: 0px 10px;
}

.cocktail-info li {
    padding-left: 0px;
    display:  flex;
    justify-content: space-between;
}

.subtitle {
    text-transform: uppercase;
    padding-top: 20px;
    color: $primary;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
}

.form-control {
    color:$primary;
}

.form-inputs {
    padding: 20px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    textarea {
        height: 38px;
    }
    .btn {
        margin: 0 auto;
    }
}

.form-inputs .form-control:focus {
    border: 1px solid white;
}

a {
    color: $white;
}
a:hover {
    text-decoration: none;
    color: $white;
}

.add-new-dose i {
    cursor:pointer;
    line-height: 2;
    font-size: 15px;
    color: $gray;
}

.fa-pen {
    font-size: 12px;
}

.btn-back {
    position: absolute;
    bottom: 40px;
}

@media(max-width:1000px) {
    .cocktail-card {
        width: 80vw;
    }
}

@media(max-width:662px) {
    .cocktail-card {
        display: block;
    }
    .cocktail-info,
    .cocktail-image {
        width: 100%;
    }
}