.show-container {
    height: 100vh;
    background: black;
}

.cocktail-card {
    color: white;
    display: flex;
    margin: 0 auto;
    width: 60vw;
    background-color: #252526;
}

.cocktail-image {
    object-fit: cover;
}

.cocktail-info {
    margin: 0 auto;
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.cocktail-info ul {
    padding: 0px 10px;
}

.cocktail-info li {
    padding-left: 0px;
    display:  flex;
    justify-content: space-between;
    .fa-times {
        font-size: 12px;
        color: $gray;
    }
}

.subtitle {
    text-transform: uppercase;
    color: $white;
    border-bottom: 1px solid $white;
    letter-spacing: 1px;
    font-size: 16px;
    padding-top: 20px;
}

.form-control {
    background-color: #252526;    
    border-color: $gray;
    color:$white;
}

.form-inputs {
    padding: 20px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    textarea {
        height: 38px;
    }
    .btn {
        margin: 0 auto;
    }
}

.form-inputs .form-control:focus {
    border: 1px solid white;
}

a {
    color: $white;
}
a:hover {
    text-decoration: none;
    color: $white;
}

.add-new-dose i {
    cursor:pointer;
    line-height: 2;
    font-size: 15px;
    color: $gray;
}
