.cocktail-card {
    display: flex;
    margin: 30px auto;
    width: 60vw;
    background-color: white;
}

.cocktail-image {
    object-fit: cover;
}

.cocktail-info {
    width: 50%;
    padding: 20px;
}