.grid-container {
    width: 80vw;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 200px;
    padding-bottom: 40px; 
}

.column {
    width: 270px;
}

.grid-container img {
    object-fit: contain;
    padding: 5px 0px;
}

.card-columns {
    @include media-breakpoint-only(xl) {
      column-count: 4;
    }
}

.photo {
    //padding: 5px 0px;
    text-align:center;
    position: relative;
    width: 270px;
}

.photo img {
    display: block;
    width: 100%;
    height: auto;
}
.photo:hover img{
    filter: blur(4px);
    opacity: 0.3;
    transition: 0.5s;

}
.photo:hover .overlay {
    height: 100%;
    opacity: 1;
}
  
.overlay {
    color: white;
    opacity: 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 0;
    transition: 1s ease;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -15%);
    -ms-transform: translate(-50%, -50%);
    width: 80%;
}
