.grid-container {
    width: 80vw;
    display: flex;
    justify-content: center;
    margin: 100px auto;
    padding-bottom: 40px; 
}

.column {
    width: 270px;
}

.grid-container img {
    object-fit: contain;
    
}

.card-columns {
    @include media-breakpoint-only(xl) {
      column-count: 4;
    }
}

.photo {
    //padding: 5px 0px;
    text-align:center;
    position: relative;
    width: 270px;
    margin-bottom: 20px;
    overflow: hidden; 
}

.photo img {
    display: block;
    width: 100%;
    height: auto;
    transition: 0.3s;
}
.photo:hover img {
    // filter: blur(4px);
    // opacity: 0.3;
    //transition: 0.5s;
    transform: scale(1.1);
}
.photo:hover .overlay {
    // height: 100%;
    opacity: 1;
}

.photo:hover .overlay h5 {
    opacity: 1;

}
  
.overlay {
    background: pink;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transition: 0.8s;
}


