// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "button";
@import "navbar";
@import "banner";
@import "grid";
@import "cocktail-card";
@import "new-cocktail-card";
@import "search-grid";

.fixed {
    position: fixed;
}

@media(max-width: 992px) {

}

@media(max-width: 768px) {

}