nav {
  opacity: 0;
  background-color: $black;
  font-size: 20px;
  // font-family: $headers-font;
  ul {
    padding: 20px 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
  }
  a {
    opacity: 0.8;
    color: $yellow;
    text-transform: uppercase;
  }
  a:hover {
    text-decoration: none;
    color: $yellow;
    opacity: 1;
  }
}

.solid {
  transition: 1s ease;
  opacity: 1;
}

.add-new {
  // border: 1px solid rgba(0, 0, 0, 0);
  // border-radius: 30px;
  // margin: 0px;
  // padding-left: 15px;
  color: white;
  // display: block;
  // position: absolute;
  // right: 20px;
  // top: 10px;
  // width: 40px;
  // height: 40px;

  transition: width 0.5s;
  -webkit-transition: width 1s;
  overflow: hidden;

  span {
    font-size: 15px;
    display: none;
  }
}

.add-new a {
  // width: 100%;
  // height: 100%;
} 

.add-new:hover {
  width: 200px;
  // border: 1px solid gray;
  // opacity: 0.7;
 
  span {
    display: inline-block;
  }
}