nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 50px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1s;

  //Font style
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}

.w-33 {
  width: 33%;
}

nav h1 {
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
}

nav .nav-item {
  margin-right: 15px;
}

nav.sticky {
  background: white;
  padding: 25px 50px;
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.1);
}

nav.sticky h1, 
nav.sticky .mobile-menu i,
nav.sticky .nav-item,
nav.sticky a {
  color: $primary;
}

nav.sticky .nav-item:hover {
  color: $primary;
}

nav ul {
  position: relative;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item:hover {
  color: $primary;
}

.nav-item.log-in {
  border-bottom: 1px solid white;
  margin-right:0;
  &:hover {
    border-bottom: 1px solid $primary;
  }
}

.search-form-control {
  margin: 0;
  .form-control {
    height: 36px;
    display:none;
    background-color: transparent;
    border-color: white;
    margin-right:10px;
    color: white;
  }
  button {
    padding: 0;
    color: white;
  }
  button:hover {
    color: $primary;
  }
}

nav:hover .form-control {
  display: block;
}

nav.sticky .search-form-control {
  .form-control {
    border-color: lightgrey;
  }
  .form-control, button {
    color: $primary;
  }
}

/*----------------
  MOBILE MENU
------------------
*/

nav.sticky #menu-icon {
  opacity: 0.6;
  filter: none;
}

.mobile-menu {
  display: none;
}

.mobile-menu i {
  cursor: pointer;
  font-size: 30px;
}

.mobile-menu .hidden {
  display: none;
  opacity: 0;
}

#menu-icon {
  filter:invert(1);
}

#exit-icon {
  z-index: 1000;
  position: absolute;
  top: 40px;
  left: 40px;
  opacity: 0.6;
}

#search_query::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  font-weight: 200;
} 
/* -------------
  RESPONSIVE 
---------------- */

@media (max-width: 991px) {
  nav {
      padding: 30px;
  }
  
  nav.sticky {
      padding: 20px 30px;
  }

  nav ul {
      display: none;
  }

  .mobile-menu {
      display: block;
      z-index: 1000;
  }

  .menu {
      position: fixed;
      top: 0;
      left: 0;
      display: block;
      padding: 100px 50px;
      text-align: center;
      width: 100%;
      height: 100vh;
      background: white;
      transition: 0.5s;
      z-index: 999;
      box-shadow: 0 0 5px rgba(0,0,0,0.2);
      box-sizing: border-box;
      transition: 1s;
  }

  .hide-menu {
      display: none;
      width: 0%;
  }

  .menu li a {
      color: $primary;
  }
  nav li {
      padding: 10px;
      font-weight: 500;
      font-size: 24px;
      text-align: center;
  }
}
