nav {
  opacity: 0;
  background-color: $black;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  ul {
    margin: 0;
    display: flex;
    list-style-type: none;
  }
  li {
    display: flex;
    align-items: center;
  }
  .btn {
    margin: 0;
  }
  h4 {
    font-weight: 300;
    margin: 0;
  }
}

.solid {
  transition: 1s ease;
  opacity: 1;
}

.nav-text {
  padding: 0px 10px;
}

.hidden { 
  opacity: 0; 
  transition: 0.5s ease;
}

.simple_form {
  padding: 0;
}

.search-form-control {
  display: flex;
  align-items: center;
  color:$white;
  margin: 0 20px 0 0;
  border: 1px solid $white;
  padding: 0 10px;
  opacity: 0.5;

  input {
    border: 0;
    background: transparent;
    padding: 0;
  }
}

.search-form-control:focus-within {
  transition: 0.5s;
  opacity: 1;
}


#search_query:focus {
  color: $white;
  background-color: transparent !important;
  border: 0;  
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu .hidden {
  display: none;
  opacity: 0;
}

@media(max-width: 768px) {
  .mobile-menu {
    display: block;
    z-index: 1000;
  }

  .hide-menu {
    display: none;
    width: 0%;
  }
}