nav {
  opacity: 0;
  background-color: $black;
  font-size: 20px;
  // font-family: $headers-font;
  ul {
    padding: 20px 40px;
    margin: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
  }
  li {
    display: flex;
    align-items: center;
  }
  a {
    opacity: 0.8;
    color: $yellow;
    text-transform: uppercase;
  }
  a:hover {
    text-decoration: none;
    color: $yellow;
    opacity: 1;
  }
}

.solid {
  transition: 1s ease;
  opacity: 1;
}

.nav-text {
  padding: 0px 10px;
}

.hidden { 
  opacity: 0; 
  transition: 0.5s ease;
}

.hoverable:hover .hidden {
  opacity: 1;
}

#inline-form {
  padding: 0;
  margin: 0;
  div {
    padding: 0;
    margin: 0;    
  }
  input {
    padding: 0 10px;
    margin: 0;
    background-color: transparent;
    border-color: $yellow;
    border-radius: 15px;
    color:$white;
    outline: none;
    height: 38px;
  }
  input:focus {
    outline: 0;
  }
  button {
    padding: 0 10px;
    margin: 0;
    display: block;
    border: 0px;
    color: $yellow;
  }
}
