 .search-results {
//     max-width: 1140px;
    margin: 120px auto;
    width: 1140px;

}

.search-results h2{
    font-size:24px;
}

.search-grid {
    display: flex;
    flex-wrap:wrap;
}

.card-img-top {
    height: 350px;
    object-fit: cover;
}

.card {
    width: 22rem !important;
    margin: 20px 20px 20px 0;
    position:relative;
}

.card .cocktail-link {
    position: absolute;
    height: 350px;
    width: 100%;
}